var config = {};

config.discord = {};

config.discord.email = process.env.DISCORD_EMAIL || 'email@email.com';
config.discord.password = process.env.DISCORD_PASSWORD || 'password';

module.exports = config;
